<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台模板</title>
	<body>
		<!-- Begin page -->
		<!-- end page -->
		
		
				  <!-- sidebar end -->
    
				<!--</div>
			</div>
		</div>-->
		<!-- ========== Left Sidebar end ========== -->
		
		
		
	<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<div class="content-page">
			<div class="content">
				<div class="am-u-md-6">
					<div class="card-box">
						<div id="pie" style="width: 100%;height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- end right Content here -->
		<!--</div>-->
		</div>
		</div>
		
		<!-- navbar -->
		<!-- <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
		
		<!-- <script type="text/javascript" src="../assets/js/jquery-2.1.0.js" ></script> -->
		<!-- <script type="text/javascript" src="../assets/js/amazeui.min.js"></script> -->
		<!-- <script type="text/javascript" src="../assets/js/app.js" ></script> -->
		<!-- <script type="text/javascript" src="../assets/js/blockUI.js" ></script> -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- <script type="text/javascript" src="../assets/js/echarts.min.js" ></script> -->
        <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
		<script type="text/javascript" src="../assets/js/pieChart.js" ></script>
	</body>
	
</html>
